@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --font-rubik: 'Rubik Variable';

  --color-primary: #222222;
  --color-light: #ededed;
}

@custom-variant active (&:where(.active, .active *));

@utility mask-fade-bottom {
  mask-image: linear-gradient(
    to bottom,
    black 10%,
    black 80%,
    transparent 100%
  );
}

@utility mask-fade-top-bottom {
  mask-image: linear-gradient(transparent, black 10% 90%, transparent 100%);
}

.cart {
  display: none;
}

.cart-button ~ input:checked ~ .cart {
  display: block;
}

.add-to-cart::after {
  content: 'Añadir Rapido';
  position: absolute;
  top: -90%;
  background-color: #7a7777;
  width: 150px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  z-index: 50;
  text-align: center;
  transform: translateY(20px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.add-to-cart::before {
  content: '';
  position: absolute;
  top: -50%;
  z-index: 50;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #7a7777;
  transform: translateY(20px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.add-to-cart:hover::before,
.add-to-cart:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
