<section class="md:w-full bg-gradient-to-b from-white to-blue-200 px-16 mt-18">
  <header class="flex justify-between pt-10">
    <picture>
      <img class="w-64" src="/logo.svg" alt="Logo de SneakerStore" />
    </picture>
    <aside class="pt-4a">
      <h3
        class="text-center text-3xl font-bricolage-grotesque font-semibold tracking-wider"
      >
        Nuestras Redes
      </h3>
      <ul class="flex gap-x-8 mt-6">
        <li
          class="text-xl tracking-wider hover:scale-125 hover:text-blue-600 transition"
        >
          <a href="">Instagram</a>
        </li>
        <li
          class="text-xl tracking-wider hover:scale-125 hover:text-blue-600 transition"
        >
          <a href="">Facebook</a>
        </li>
        <li
          class="text-xl tracking-wider hover:scale-125 hover:text-blue-600 transition"
        >
          <a href="">Twitter</a>
        </li>
        <li
          class="text-xl tracking-wider hover:scale-125 hover:text-blue-600 transition"
        >
          <a href="">Whatsapp</a>
        </li>
        <li
          class="text-xl tracking-wider hover:scale-125 hover:text-blue-600 transition"
        >
          <a href="">Telegram</a>
        </li>
      </ul>
    </aside>
  </header>
  <main class="mt-8 flex justify-center">
    <h2
      class="font-bricolage-grotesque font-bold uppercase text-4xl tracking-wider text-center w-[650px]"
    >
      Encuentra tu par perfecto y camina con estilo. Nos apasiona ofrecerte lo
      mejor en calzado.
    </h2>
  </main>
  <footer class="mt-12 pb-4 flex flex-col justify-center items-center">
    <h4 class="text-xl font-bricolage-grotesque tracking-wide mb-2">
      Web Desarrollada y creada por: <strong class="text-blue-600 uppercase"
        >Orlando López</strong
      >
    </h4>
    <p class="text-lg font-semibold tracking-wider">
      &copy; 2025 SneakerStore | Todos los Derechos Reservados
    </p>
  </footer>
</section>
