---
import Instagram from '@/icons/Instagram.astro';
import TwitterX from '@/icons/TwitterX.astro';
import Whatsapp from '@/icons/Whatsapp.astro';
import Github from '@/icons/Github.astro';

const SOCIAL_MEDIAS = [
  {
    icon: Instagram,
    url: 'https://www.instagram.com/',
  },
  {
    icon: TwitterX,
    url: 'https://www.x.com/',
  },
  {
    icon: Whatsapp,
    url: 'wa.me/+584242860846/',
  },
  {
    icon: Github,
    url: 'https://github.com/OrlandoDev17/sneaker-store',
  },
];
---

<section class="md:w-full bg-gradient-to-b from-white to-blue-200 px-16 mt-18">
  <header
    class="flex flex-col gap-4 md:gap-0 items-center md:flex-row justify-between pt-10"
  >
    <picture>
      <img class="w-64" src="/logo.svg" alt="Logo de SneakerStore" />
    </picture>
    <aside class="pt-4a">
      <h3 class="text-center text-3xl font-semibold tracking-wider">
        Nuestras Redes
      </h3>
      <ul class="flex items-center justify-center gap-x-6 mt-6">
        {
          SOCIAL_MEDIAS.map(({ icon: Icon, url }) => (
            <li>
              <a href={url}>
                <Icon class="size-13 bg-blue-500 text-white p-1 rounded-2xl hover:bg-blue-700 hover:scale-110 transition" />
              </a>
            </li>
          ))
        }
      </ul>
    </aside>
  </header>
  <main class="mt-8 flex justify-center">
    <h2
      class="font-bold uppercase text-2xl md:text-4xl tracking-wider text-center w-[650px]"
    >
      Encuentra tu par perfecto y camina con estilo. Nos apasiona ofrecerte lo
      mejor en calzado.
    </h2>
  </main>
  <footer class="mt-12 pb-4 flex flex-col justify-center items-center">
    <h4
      class="text-base text-center md:text-start md:text-xl tracking-wide mb-2"
    >
      Web Desarrollada y creada por: <strong class="text-blue-600 uppercase"
        >Orlando López</strong
      >
    </h4>
    <p
      class="text-sm text-center md:text-start md:text-lg font-semibold tracking-wider"
    >
      &copy; 2025 SneakerStore | Todos los Derechos Reservados
    </p>
  </footer>
</section>
