---
import User from '@/icons/User.astro';

import { Cart } from '@/components/Cart.jsx';

const NAV_LINKS = [
  {
    label: 'Novedades',
    href: '#news',
  },
  {
    label: 'Catalogo',
    href: '#catalogue',
  },
];
---

<header
  class="hidden fixed z-10 w-full md:flex justify-between items-center py-3 p-16 border-b-3 border-black/20 backdrop-blur-2xl"
>
  <a href="/">
    <img class="w-64" src="/logo.svg" alt="Logo de SneakerStore" />
  </a>
  <nav class="flex gap-x-16">
    {
      NAV_LINKS.map((link) => (
        <a
          class="uppercase font-rubik font-semibold tracking-wide text-2xl inline-block hover:text-blue-500 hover:scale-110 transition"
          href={link.href}
        >
          {link.label}
        </a>
      ))
    }
  </nav>
  <div class="flex gap-4">
    <Cart client:load />
    <button>
      <a class="flex items-center gap-x-3 group" href=" #">
        <User
          class="size-14 border-2 p-2 rounded-full inline-block hover:border-blue-500 group-hover:text-blue-500 hover:scale-110 transition"
        />
      </a>
    </button>
  </div>
</header>
